body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

* {
    border-style: dashed;
    border-width: 1px;
    border-color: red;
}

.outer-container {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.content-section {
    height: 250px;
    flex: 1 1 auto;
    overflow: hidden;
}

.content-section-small {
    height: 250px;
    flex: 1 1 auto;
    overflow: hidden;
}

/* Head Content Block */
.content-section.one {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content-section-one-container {
    margin: 0 42px;
    flex: 1;

}

#header {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-logo {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.header-content {
    flex: 1;
    display: flex;
}

.header-content-left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

img {
    width: 166px;
    height: 100px;
}


.content-section.two {
    background-color: white;
    color: black;
}

.content-section.three {
    background-color: #e5e7eb;
    color: black;
}


footer {
    height: 100px;
}
